* {
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(../../icons/bg@2x.c62e2e0.png) no-repeat;
  background-size: 100% 100%;
}

.main img:nth-child(1) {
  position: absolute;
  width: 32vw;
  top: 0;
  right: 0;
}

.main img:nth-child(2) {
  position: absolute;
  width: 42.667vw;
  bottom: 8vw;
  left: 0;
}

.main img:nth-child(3) {
  position: relative;
  width: 53.333vw;
  left: 50%;
  top: 50%;
  margin-bottom: 5.333vw;
  transform: translate3d(-50%, -50%, 0);
}

.main img:nth-child(4) {
  position: relative;
  width: 72vw;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
